<style>
h1 {
	font-style: italic;
	background-color: orange;
	color: white;
}
p {
	font-style: italic;
	color: orange;
}

body {
    display: block;
    margin: 10px;
}

.rcorners {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    border-radius: 25px;
 	background: lightblue;
 	color: white;
    padding: 20px;
    width: 380px;
    height: 180px;
    box-shadow: 4px 4px 6px #000000;
}

</style>